 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 text-center">
                    <p><i>“You should have a fear of some things. That doesn't mean it incapacitates you from your ability to figure out a way to deal with it.” – Chris Hadfield</i></p>
                </div>
			</div>
			<div class="row">
                <div class="col-lg-4 text-center">
                    <p>Welcome to my website! Here, you will find links to projects that I've worked on in the past, as well as things that I am currently busy with. For employers, I have also included a link to my resume. :-)</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>